* {
    border: 1px solid red
}
#container {
    width:1200px;
    margin: 0 auto;
}
img {
    width: 250px;
    height: auto;
    margin: 20px;
}
button {
    background-color: green;
    color: white;
    border: 2px solid black;
    margin-left: 20px;
}
